{#
  Template name: block--my-custom-block.html.twig
#}

<div class="custom-block">
  <strong><div id="current-time"></div></strong>
  {{ formattedDayOfWeek }},  {{ formatteddateTime }}, 
  <p>Time in:</p>{{ selectedTimezone}},  {{ city }} , {{ country}},

  </div>
</div>
